@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply min-w-[237px] rounded-3xl border-0 bg-brand-secondary p-5 text-white hover:bg-brand-secondary focus:outline-none focus:ring focus:ring-brand-secondary active:opacity-65;
}

.btn--accent {
  @apply bg-brand-accent;
}

body {
  @apply font-montserrat;
  @apply bg-brand-white;
}

div {

  width: 100%;
  margin: auto;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

